<table mat-table [dataSource]="cardList" class="mat-elevation-z8 card-table text-center">
	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef class="text-center">#</th>
		<td mat-cell *matCellDef="let card" class="text-center">{{card.id}}</td>
	</ng-container>
	
	<ng-container matColumnDef="icon">
		<th mat-header-cell *matHeaderCellDef class="text-center">Ícone</th>
		<td mat-cell *matCellDef="let card" class="text-center">
			<img src="{{card.icon}}" />
		</td>
	</ng-container>

	<ng-container matColumnDef="rarity">
		<th mat-header-cell *matHeaderCellDef class="text-center">Raridade</th>
		<td mat-cell *matCellDef="let card" class="text-center">
			<div [ngSwitch]="card.stars">
				<img *ngSwitchCase="1" src="{{rarities.rarity1}}"/>
				<img *ngSwitchCase="2" src="{{rarities.rarity2}}"/>
				<img *ngSwitchCase="3" src="{{rarities.rarity3}}"/>
				<img *ngSwitchCase="4" src="{{rarities.rarity4}}"/>
				<img *ngSwitchCase="5" src="{{rarities.rarity5}}"/>
			</div>
		</td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef class="text-center">Nome</th>
		<td mat-cell *matCellDef="let card" class="text-center">
			{{card.name}}
		</td>
	</ng-container>
	
	<ng-container matColumnDef="status">
		<th mat-header-cell *matHeaderCellDef class="text-center">Status</th>
		<td mat-cell *matCellDef="let card" class="card-stats">
			<mat-grid-list cols="2" rowHeight="2:1">
				<mat-grid-tile colspan="2">{{card.stats.formatted.top}}</mat-grid-tile>
				<mat-grid-tile colspan="1">{{card.stats.formatted.left}}</mat-grid-tile>
				<mat-grid-tile colspan="1">{{card.stats.formatted.right}}</mat-grid-tile>
				<mat-grid-tile colspan="2">{{card.stats.formatted.bottom}}</mat-grid-tile>
			</mat-grid-list>
		</td>
	</ng-container>

	<ng-container matColumnDef="source">
		<th mat-header-cell *matHeaderCellDef class="text-center">Como adquirir</th>
		<td mat-cell *matCellDef="let card" class="text-center">
			<ul *ngIf="card.sources.drops" class="list-none p-0 m-0">
				<li *ngFor="let drop of card.sources.drops">
					<img src="assets/img/battle_b.png" class="w-14"/>
					{{drop}}
				</li>
			</ul>
			<ul *ngIf="card.sources.npcs" class="list-none p-0 m-0">
				<li *ngFor="let npc of card.sources.npcs">
					<img src="assets/img/npc_b.png" class="w-14" />
					{{npc.name}}
				</li> 
			</ul>
			<ul *ngIf="card.sources.packs" class="list-none p-0 m-0">
				<li *ngFor="let pack of card.sources.packs">
					<img src="assets/img/triad_b.png" class="w-14" />
					{{pack.name}}
				</li>
			</ul>
			<div *ngIf="card.sources.purchase" class="p-0 m-0">
				<span>Pode ser comprado por {{card.sources.purchase}}</span> <img src="assets/img/mgp.png" class="w-14"/>
			</div>
			
		</td>
	</ng-container>

	<ng-container matColumnDef="patch">
		<th mat-header-cell *matHeaderCellDef>Patch</th>
		<td mat-cell *matCellDef="let card">{{card.patch}}</td>
	</ng-container>
	
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>