.card-table{
	width:100%;
	list-style: none;
}

.text-center{
	text-align: center;
}

.list-none{
	list-style: none;
}

.p-0{
	padding:0;
}

.m-0{
	margin:0;
}

.w-14{
	width:14px;
}

.mat-column-status{
	width:8% !important;
}

.mat-row:hover .mat-cell{
	cursor:pointer;
	background-color:#3f474e;
}