<table mat-table [dataSource]="cardList" class="mat-elevation-z8 card-table">
	
	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef class="text-center">#</th>
		<td mat-cell *matCellDef="let card" class="text-center">{{card.id}}</td>
	</ng-container>
	
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef>Nome</th>
		<td mat-cell *matCellDef="let card">
			<img src="{{card.icon}}" />
			{{card.name}}
		</td>
	</ng-container>
	
	<ng-container matColumnDef="status">
		<th mat-header-cell *matHeaderCellDef class="text-center">Status</th>
		<td mat-cell *matCellDef="let card" class="card-stats">
			<mat-grid-list cols="2" rowHeight="2:1">
				<mat-grid-tile colspan="2">{{card.stats.formatted.top}}</mat-grid-tile>
				<mat-grid-tile colspan="1">{{card.stats.formatted.left}}</mat-grid-tile>
				<mat-grid-tile colspan="1">{{card.stats.formatted.right}}</mat-grid-tile>
				<mat-grid-tile colspan="2">{{card.stats.formatted.bottom}}</mat-grid-tile>
			</mat-grid-list>
		</td>
	</ng-container>

	<ng-container matColumnDef="rarity">
		<th mat-header-cell *matHeaderCellDef class="text-center">Raridade</th>
		<td mat-cell *matCellDef="let card" class="text-center">{{card.stars}}</td>
	</ng-container>

	<ng-container matColumnDef="patch">
		<th mat-header-cell *matHeaderCellDef>Patch</th>
		<td mat-cell *matCellDef="let card">{{card.patch}}</td>
	</ng-container>
	
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>