<div class="container">
	<h1>O que é Triple Triad</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque cupiditate tenetur temporibus dolorum, aliquid eveniet minima cum architecto quia quidem ex veritatis soluta veniam et nihil eum ipsum? Vel, iste.</p>
	<h2>Como jogar</h2>
	<h3>WIP - Melhor ver o tutorial da Moogle's Cave</h3> <a href="https://mooglescave.com.br/ffxiv-guia-de-triple-triad" target="_blank">Moogle's Cave</a>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas deserunt ullam qui nobis suscipit, ut vel reprehenderit a, facere minima similique sit vitae. Omnis minus doloribus earum officia quaerat? Nemo.
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestiae sequi iure id officia at aliquid, aperiam veritatis blanditiis. Aut quaerat aliquid reiciendis quis voluptate eaque, dolore hic nemo ea!
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi fugiat voluptates eveniet autem, minima molestias nostrum alias odit exercitationem voluptatum eligendi porro tenetur repudiandae, sequi id nobis perspiciatis laudantium odio.
	</p>
</div>